---
import * as styles from "./styles";
import { token } from "@styled-system/tokens";
import type { JsxStyleProps } from "@styled-system/types";

type Props = {
	size: JsxStyleProps["width"];
};

const { size } = Astro.props;

const style = {
	// @ts-ignore
	width: token.var(`spacing.${size}`),
};
---

<div class={styles.logo} style={style}></div>
