---
import { techTag } from "./recipe";
import Logo from "@/components/ui/logo/index.astro";
import type { RecipeVariantProps } from "@styled-system/types";

export type Props = RecipeVariantProps<typeof techTag> & {
	title: string;
	highlight?: boolean;
};

const { title, highlight, size } = Astro.props;

const className = techTag({ size });
---

<div class={className}>
	{highlight && <Logo size="6" />}
	{title}
</div>
