---
import * as styles from "./styles";
import Design from "./components/design/index.astro";
---

<div class={styles.container}>
	<div class={styles.header}>
		<h1 class={styles.title}>Hi, I'm Victorien,</h1>
		<h2 class={styles.subtitle}>a software engineering student.</h2>
	</div>

	<Design />
</div>
