---
import * as styles from "./styles";
import Logo from "@/components/ui/logo/index.astro";
---

<div class={styles.container}>
	<div class={styles.glass}>
		<div class={styles.glassBg}></div>
	</div>

	<Logo size="96" />
</div>
