---
import * as styles from "./styles";
import Logo from "@/components/ui/logo/index.astro";

type Props = {
	title: string;
	highlight?: boolean;
};

const { title, highlight } = Astro.props;
---

<div class={styles.container}>
	{highlight && <Logo size="6" />}
	<h3>{title}</h3>
</div>
