---
import * as styles from "./styles";
import { technologies } from "./content";
import Section from "@/components/ui/section/index.astro";
import TechTag from "@/components/ui/tech-tag/index.astro";
---

<Section
	title="my tech stack"
	subtitle="here are some of the technologies i use and with which i'm very familiar"
	variant="primary"
>
	<div class={styles.technologies}>
		{technologies.map((tech) => <TechTag size="lg" {...tech} />)}
	</div>
</Section>
