---
import { button } from "./recipe";
import type { RecipeVariantProps } from "@styled-system/types";
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"button"> &
	RecipeVariantProps<typeof button>;

const { variant, size, ...props } = Astro.props;

const className = button({ variant, size });
---

<button class={className} {...props}>
	<slot />
</button>
