---
import RootLayout from "@/layouts/root.astro";
import { css } from "@styled-system/css";
---

<RootLayout>
	<div
		class={css({
			textStyle: "4xl",
			color: "accent.11",
		})}
	>
		Hello !
	</div>
</RootLayout>
