---
import type { HTMLAttributes } from "astro/types";
import { link } from "./recipe";
import type { RecipeVariantProps } from "@styled-system/types";

type Props = HTMLAttributes<"a"> &
	RecipeVariantProps<typeof link> & {
		href: string;
	};

const { href, text = false, ...props } = Astro.props;

const className = link({ text });
---

<a href={href} class={className} {...props}>
	<slot />
</a>
