---
import type { HTMLAttributes } from "astro/types";
import { link } from "./recipe";
import type { RecipeVariantProps } from "@styled-system/types";

type Props = HTMLAttributes<"a"> &
	RecipeVariantProps<typeof link> & {
		href: string;
		isExternal?: boolean;
	};

const { href, isExternal, isText = true, ...props } = Astro.props;

const className = link({ isText });
---

<a
	href={href}
	class={className}
	{...isExternal && { target: "_blank", rel: "noreferrer noopener" }}
	{...props}
>
	<slot />
</a>
