---
import * as styles from "./styles";
import TechTag from "@/components/ui/tech-tag/index.astro";

type Props = {
	techStack: string[];
};

const { techStack } = Astro.props;
---

<div class={styles.container}>
	<div class={styles.techStack}>
		{techStack.map((tech) => <TechTag size="sm" title={tech} />)}
	</div>

	<slot />
</div>
