---
import { iconButton } from "./recipe";
import { button } from "../button/recipe";
import Icon from "../icon/index.astro";
import { css } from "@styled-system/css";
import type { Props as ButtonProps } from "../button/index.astro";
import type { HTMLAttributes } from "astro/types";
import type { icons } from "lucide";

type Props = HTMLAttributes<"button"> &
	ButtonProps & {
		name: keyof typeof icons;
	};

const { name, variant, size, ...props } = Astro.props;

const className = css(button.raw({ variant, size }), iconButton.raw({ size }));
---

<button class={className} {...props}>
	<Icon name={name} size={size} stroke-width="1.25" />
</button>
