---
import "@/styles/globals.css";
import Navbar from "@/components/navbar/index.astro";
import Footer from "@/components/footer/index.astro";
import Themes from "astro-themes";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<Themes />
	</head>

	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>
