---
import { stack } from "@styled-system/patterns";
import { css } from "@styled-system/css";
---

<div
	class={css({
		px: { base: "8", sm: "16", md: "24" },
		py: { base: "16", sm: "20", md: "24" },
	})}
>
	<div
		class={stack({
			maxW: "4xl",
			mx: "auto",
			gap: ["8", "10", "12"],
		})}
	>
		<slot />
	</div>
</div>
