---
import * as styles from "./styles";
import ExperienceCard from "./components/experience-card/index.astro";
import Section from "@/components/ui/section/index.astro";
import { getCollection } from "astro:content";

const experiences = await getCollection("experiences");
const sortedExperiences = experiences.sort(
	(a, b) => b.data.startDate.getTime() - a.data.startDate.getTime()
);
---

<Section
	title="my previous experiences"
	subtitle="here are some of the opportunities i've had to work with great people and learn new things"
	variant="secondary"
>
	<div class={styles.experiences}>
		{
			sortedExperiences.map((experience) => (
				<ExperienceCard experience={experience} />
			))
		}
	</div>
</Section>
