---
import * as styles from "./styles";
import ProjectCard from "./components/project-card/index.astro";
import Section from "@/components/ui/section/index.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const sortedProjects = projects.sort(
	(a, b) => b.data.publishedOn.getTime() - a.data.publishedOn.getTime()
);
---

<Section
	title="my projects"
	subtitle="here are some of the projects I've worked on"
	variant="primary"
	id="projects"
>
	<div class={styles.projects}>
		{sortedProjects.map((project) => <ProjectCard project={project} />)}
	</div>
</Section>
