---
import * as styles from "./styles";
import ProjectCard from "./components/project-card/index.astro";
import Section from "@/components/ui/section/index.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
const sortedProjects = projects.sort(({ data: a }, { data: b }) => {
	if (!a.publishedOn && !b.publishedOn) {
		return 0;
	} else if (!a.publishedOn) {
		return -1;
	} else if (!b.publishedOn) {
		return 1;
	} else {
		return b.publishedOn.getTime() - a.publishedOn.getTime();
	}
});
---

<Section
	title="my projects"
	subtitle="here are some of the projects i've worked on"
	variant="primary"
	id="projects"
>
	<div class={styles.projects}>
		{sortedProjects.map((project) => <ProjectCard project={project} />)}
	</div>
</Section>
